@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Definimos los colores para que Tailwind los reconozca */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Un azul muy oscuro para el texto */
}

/* ESTA ES LA CLAVE: Cambiamos el @media por la clase .dark */
.dark {
  --background: #020617; /* El fondo oscuro de Simetrik */
  --foreground: #f8fafc;
}

/* Aplicamos los colores al cuerpo de la página */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    transition-colors: all;
    transition-duration: 300ms;
  }
}